@using ForaTeknoloji.Entities.ComplexType
@model ForaTeknoloji.PresentationLayer.Models.PersonelListViewModel
@{
    ViewBag.Title = "Personel Listesi Raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.PersonelListesi, rowsPerPage: 20);
}
<style>
    .table-pager > td {
        padding-top: 10px;
    }

        .table-pager > td > a {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 3px 7px;
        }

            .table-pager > td > a:hover {
                background-color: #f0f0f0;
            }
</style>
<div class="card border-left-info h-100 mt-2 shadow-lg animated fadeIn">
    <div class="card-header-tabs mt-1">
        <h3 class="text-center text-muted">Personel Listesi</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "PersonelListReport", FormMethod.Get))
        {

            @Html.Partial("_PartialPersonelListReport", Model)
        }

        <div class="row">
            <div class="col-md-12">
                <div id="print_div" class="card-body">
                    @if (Model.PersonelListesi.Count > 0)
                    {
                        @webGrid.GetHtml(
                                  htmlAttributes: new { @id = "table", @class = "table-borderless table table-hover text-center table-striped table-sm" },
                                  footerStyle: "table-pager",
                                  columns: webGrid.Columns(
                                      webGrid.Column("ID", "ID"),
                                      webGrid.Column("Kart_ID", "Kart ID"),
                                      webGrid.Column("UnvanAdi", "Ünvan"),
                                      webGrid.Column("Adi", "Adı"),
                                      webGrid.Column("Soyadi", "Soyadı"),
                                      webGrid.Column("TCKimlik", "TC Kimlik"),
                                      webGrid.Column("SirketAdi", "Şirket"),
                                      webGrid.Column("DepartmanAdi", "Departman"),
                                      webGrid.Column("AltDepartmanAdi", "Alt Departman"),
                                      webGrid.Column("BolumAdi", "Bölüm"),
                                      webGrid.Column("Plaka", "Plaka"),
                                      webGrid.Column("BlokAdi", "Blok"),
                                      webGrid.Column("Daire", "Daire"),
                                      webGrid.Column("Grup_Adi", "Grup")))

                    }
                    else
                    {
                        <div class="alert alert-info alert-message ">
                            <h4 class="text-center text-muted">Kriterlere Uygun Kayıt Yok!</h4>
                        </div>
                    }

                </div>
            </div>
        </div>




    </div>
</div>


<script>
    $(document).ready(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        $("#Departman").change(function () {
            var departmanNo = $(this).val();
            if (departmanNo == 0) {
                $("#Alt_Departman_No").empty();
                $("#Bolum_No").empty();
                $("#Alt_Departman_No").append('<option > Alt Departman Seçiniz... </option>');
                $("#Bolum_No").append('<option > Bölüm Seçiniz... </option>');
            } else {
                $.ajax({
                    url: '/PersonelListReport/AltDepartmanListesi?Departman=' + departmanNo,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $("#Alt_Departman_No").empty();
                    $.each(data, function (index, row) {
                        $("#Alt_Departman_No").append('<option value=' + row.Value + '>' + row.Text + '</option>');
                    });

                    var altdepartmanNo = $("#Alt_Departman_No").val();
                    $.ajax({
                        url: '/PersonelListReport/BolumListesi?AltDepartman=' + altdepartmanNo,
                        type: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $("#Bolum_No").empty();
                        $.each(data, function (index, row) {
                            $("#Bolum_No").append('<option value=' + row.Value + '>' + row.Text + '</option>');
                        });
                    });

                });
            }
        });
        $("#Alt_Departman_No").change(function () {
            var altdepartmanNo = $(this).val();
            $.ajax({
                url: '/PersonelListReport/BolumListesi?AltDepartman=' + altdepartmanNo,
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#Bolum_No").empty();
                $.each(data, function (index, row) {
                    $("#Bolum_No").append('<option value=' + row.Value + '>' + row.Text + '</option>');
                });
            });

        })
    });
    $(function () {
        $("tfoot a").addClass('btn btn-sm  btn-default'); // buton normal durum css
        // buton aktif durum css
        $("tfoot td")
            .contents()
            .filter(function () {
                if (this.nodeType === 3 && this.length > 1) {
                    return this.nodeType
                }
            })
            .wrap('<span class=" btn btn-primary" />');
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>Personel Listesi</title>');
            frameDoc.document.write('</head><body><hr />');
            frameDoc.document.write('<h3>Personel Listesi</h3><hr />');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
    });

</script>



