
@{
    ViewBag.Title = "Personel Raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-1 shadow-lg">
    <div class="card-header-tabs">
        <h3 class="text-center text-muted"></h3>
    </div>
    <div class="card-body">
        <div class="form-control">
            <label class="custom-control-label" for="aktif">Aktif Kullanıcılar</label>
            <input type="radio" class="custom-control-input" id="aktif" name="KullaniciTipi" value="AktifKullanici" />
            <label class="custom-control-label" for="eski">Eski Kullanıcılar</label>
            <input type="radio" name="KullaniciTipi" id="eski" value="EskiKullanici" />
        </div>
        
        <div></div>
    </div>
</div>

<div class="card mt-1 shadow-lg">
    <div class="card-body">
        <table>
            <thead class="table-info">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>