@model IEnumerable<ForaTeknoloji.Entities.Entities.Departmanlar>
@{
    ViewBag.Title = "Departman Tanımları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-xl-5 my-xl-5" >
        <div class=" card shadow-lg mt-2">
            <div class="card-header-tabs">
                <h3 class="text-muted text-center">Departman Tanımları</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "Department"))
                {
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="departmanAdi" name="Adi" placeholder="Departman Tanımlama">
                            <input type="text" name="Departman No" hidden value="" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit" id="newDepartment"><i class="fas fa-plus mr-2"></i>Yeni Departman</button>
                            </div>
                        </div>
                    </div>

                }
                <hr />
                <table class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Departman No</td>
                            <td>Departman Adı</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Departman_No</td>
                                <td>@item.Adi</td>
                                <td>
                                    <a title="Edit" id="edit" href="@Url.Action("Edit","Department",new { id=item.Departman_No})"><i class="fas fa-edit text-info mr-5"></i></a>
                                    <a title="Delete" onclick="return confirm('Silmek İstediğinize Emin misiniz?')" href="@Url.Action("Delete","Department",new { id=item.Departman_No})"><i class="fas fa-trash-alt text-danger"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
