
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center" style="background-color:white; height:100%; width:100%;">
    <img src="~/Images/MavisoftYatayOrta2.jpg" style="height:50%;  width:50%;" alt="Alternate Text" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script>
    $(function () {

        $(".content").css("background-color", "white");
    });
</script>