
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="offset-1 col-md-5 mt-3 mb-4 animated slideInLeft faster">
        <div class="card border-left-primary shadow-lg h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Toplam Kullanıcılar</div>
                        <div id="AllUser" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 mt-3 mb-4 animated slideInRight faster">
        <div class="card border-left-success shadow-lg h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">İçerdeki Kullanıcılar</div>
                        <div id="Inside" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-check fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="offset-1 col-md-5 mt-3 mb-4 animated slideInLeft faster">
        <div class="card border-left-danger shadow-lg h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Dışardaki Kullanıcılar</div>
                        <div id="Outside" class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-walking fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 mt-3 mb-4 animated slideInRight faster">
        <div class="card border-left-warning shadow-lg h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pasif Kullanıcılar</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-lock fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="offset-1 col-md-5 mt-3 mb-4 animated slideInLeft faster">
        <div class="card border-left-secondary shadow-lg h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Kullanıcı Geçişleri</div>
                        <div id="Access" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-address-card fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-5 mt-3 mb-4 animated slideInRight faster">
        <div class="card border-left-info shadow-lg h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Ziyaretçi Geçişleri</div>
                        <div id="Ziyaret" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                url: '/Chart/Count',
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                $("#AllUser").html("<b>" + data.Toplam_Kullanici + "</b>");
                $("#Inside").html("<b>" + data.Icerdeki_Kullanici + "</b>");
                $("#Outside").html("<b>" + data.Disardaki_Kullanici + "</b>");
                $("#Access").html("<b>" + data.Gecis_Yapanlar + "</b>");
                $("#Ziyaret").html("<b>" + data.Ziyaretci + "</b>");
                $("#Saat").html("<b>" + data.Ziyaretci + "</b>");
            });
        }, 500);

    });
</script>