
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card mt-xl-5">
            <div class="card-header-tabs mt-1">

            </div>
            <div class="card-body">
                <table class="table table-striped table-responsive-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Zaman Grup No</td>
                            <td>Zaman Grup Adı</td>
                            <td>Adı</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>