@model ForaTeknoloji.PresentationLayer.Models.ZiyaretciListViewModel
@{
    ViewBag.Title = "Tümü";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mt-2 shadow-lg">
    <div class="card-header-tabs mt-1">
        <h3 class="text-center text-muted">İçerdekiler-Dışardakiler Tümü</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Ziyaretci", "InsideOutReport"))
        {

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Lokal" class="custom-control-input" id="lokal" checked name="Bolge">
                            <label class="custom-control-label" for="lokal">Lokal Bölge</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Global" class="custom-control-input" id="global" name="Bolge">
                            <label class="custom-control-label" for="global">Global Bölge</label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.Paneller, Model.Paneller, "Panel Seçimi", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.Global_Bolge_Adi, Model.Global_Bolge_Adi, "Global Kapı Bölgesi Seçimi", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="İcerde" class="custom-control-input" id="In" checked name="InOut">
                            <label class="custom-control-label" for="In">İçerdekiler</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Dısarda" class="custom-control-input" id="Out" name="InOut">
                            <label class="custom-control-label" for="Out">Dışardakiler</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="SecilenKayit" class="custom-control-input" id="Secilen" checked name="Kayit">
                            <label class="custom-control-label" for="Secilen">Seçilen Kayıtlar</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="TümKayit" class="custom-control-input" id="Tüm" name="Kayit">
                            <label class="custom-control-label" for="Tüm">Tüm Kayıtlar</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Panel Çıkış Kapı No</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h4 class="text-info text-right">@*@Model.ComplexVisitorsListesi.Count*@ Adet Kayıt Listelendi</h4>
                    <hr />
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-chart-bar"></i> Rapor Oluştur</button>
                    <a id="Excell" href="@Url.Action("Ziyaretci","InsideOutReport")" class="btn  btn-sm btn-success"><i class="fas fa-file-export"></i>Excell'e Aktar</a>
                    <button type="button" id="btnPrint" class="btn  btn-sm btn-info"><i class="fa fa-print"></i> Yazdır</button>
                </div>
            </div>
        }
    </div>
</div>
<div class="card mt-2 shadow-lg">
    <div id="print_div" class="card-body">
        <table class="table table-hover text-center table-striped">
            <thead class="table-info">
                <tr>
                    <td>ID</td>
                    <td>Kart ID</td>
                    <td>Adı</td>
                    <td>Soyadı</td>
                    <td>Ziyaretçi Adı</td>
                    <td>Şirket</td>
                    <td>Departman</td>
                    <td>TTT.Tarih</td>
                    <td>TTT2.Tarih</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>111</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Null</td>
                    <td>28.08.2019</td>
                    <td>aass</td>
                    <td>sss</td>
                    <td>dddd</td>
                    <td>ffff</td>
                </tr>

            </tbody>

        </table>
    </div>
</div>

<script>
    $(function () {
        $("#btnPrint").click(function () {
            var contents = $("#print_div").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>Personel Raporları</title>');
            frameDoc.document.write('</head><body>');
            //Append the external CSS file.
            frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" media="print" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {

                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        });
    });
</script>