@model IEnumerable<ForaTeknoloji.Entities.Entities.GlobalZones>
@{
    ViewBag.Title = "Global Bölge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row  animated slideInLeft">
    <div class="col-md-8 offset-md-2 mt-xl-5 my-xl-5">
        <div class=" card shadow-lg mt-2">
            <div class="card-header-tabs">
                <h3 class="text-muted text-center">Global Bölgeler</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "GlobalZone"))
                {
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="gBAdi" name="Global_Bolge_Adi" placeholder="Blok Tanımlama" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <input type="text" name="Global_Bolge_No" id="gBNo" hidden value="" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit" id="newGlobal_Bolge"><i class="fas fa-edit mr-2"></i>Güncelle</button>
                            </div>
                        </div>
                    </div>

                }
                <hr />
                <table id="mytable" class="table-borderless table table-hover text-center table-striped table-sm">
                    <thead class="table-info">
                        <tr>
                            <td>Global Bölge No</td>
                            <td>Global Bölge Adı</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td data-id="@item.Global_Bolge_No" data-adi="@item.Global_Bolge_Adi">@item.Global_Bolge_No</td>
                                <td>@item.Global_Bolge_Adi</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#mytable tbody tr").click(function () {
            var globalNo = $(this).children("td").data("id");
            var globalAdi = $(this).children("td").data("adi");
            $("#gBAdi").attr('value', globalAdi);
            $("#gBNo").attr('value', globalNo);
            $("#mytable tbody tr").removeClass("table-success");
            $(this).addClass("table-success");
        });

        setTimeout(function () {
            $("h3").addClass("animated shake");
        }, 500);
    });
</script>