
@{
    ViewBag.Title = "Watch Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5 offset-4">
        <div class="card shadow-lg mx-lg-5 my-lg-5">
            <div class="card-body">
                <hr />
                <h5 class="text-info text-center">Panel LOG Ayarları</h5>
                <hr />
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Tumu" class="custom-control-input" id="Tumu" />
                    <label class="custom-control-label ml-5" for="Tumu">Antipassback İhlal Mesajlarını Alma</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Normal" class="custom-control-input" id="Normal" />
                    <label class="custom-control-label ml-5" for="Normal">Engellenen İstek Mesajlarını Alma</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Coklu" class="custom-control-input" id="Coklu" />
                    <label class="custom-control-label ml-5" for="Coklu">Tanımsız Geçiş Mesajlarını Alma</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Antipassback" class="custom-control-input" id="Antipassback" />
                    <label class="custom-control-label ml-5" for="Antipassback">Manuel İşlemler "Tetikleme/Açma/Kapama" Mesajlarını Alma</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Manuel" class="custom-control-input" id="Manuel" />
                    <label class="custom-control-label ml-5" for="Manuel">Buton Tetikleme Mesajlarını Alma</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="AlarmYangin" class="custom-control-input" id="AlarmYangin" />
                    <label class="custom-control-label ml-5" for="AlarmYangin">Programlı İşlemler "Açma/Kapama" Mesajlarını Alma</label>
                </div>
                <hr />
                <h5 class="text-info text-center">Operatör LOG Ayarları</h5>
                <hr />
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Tanimsiz" class="custom-control-input" id="Tanimsiz" />
                    <label class="custom-control-label ml-5" for="Tanimsiz">Kullanıcı İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Programli" class="custom-control-input" id="Programli" />
                    <label class="custom-control-label ml-5" for="Programli">Zaman Bölgesi İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="KapiAlarm" class="custom-control-input" id="KapiAlarm" />
                    <label class="custom-control-label ml-5" for="KapiAlarm">Geçiş Grup İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Engellenen" class="custom-control-input" id="Engellenen" />
                    <label class="custom-control-label ml-5" for="Engellenen">Panel Olay Hafıza İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Button" class="custom-control-input" id="Button" />
                    <label class="custom-control-label ml-5" for="Button">Ziyaretçi İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="DigerAlarm" class="custom-control-input" id="DigerAlarm" />
                    <label class="custom-control-label ml-5" for="DigerAlarm">Kullanıcı Alarmları İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Kamera İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Asansör İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Programlı Kapı İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Şirket İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Departman İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Blok İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Dış Veri Alma İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">E-Mail ve SMS İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Global Interlock İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Grup Geçiş Takvimi İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Rapor İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Veritabanı İşlem Log'larını Kaydetme</label>
                </div> <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Panel Ayarı İşlem Log'larını Kaydetme</label>
                </div>
                <div class="custom-control-inline custom-checkbox ml-2">
                    <input type="checkbox" value="" name="Operator" class="custom-control-input" id="Operator" />
                    <label class="custom-control-label ml-5" for="Operator">Diğer İşlem Log'larını Kaydetme</label>
                </div>
                <hr />
                <div class="col-md-12 text-center">
                    <a href="@Url.Action("Index","Watch")" class="btn btn-outline-success"><i class="fas fa-save"></i> Kaydet</a>
                </div>
            </div>
        </div>
    </div>
</div>
