@model ForaTeknoloji.PresentationLayer.Models.OperatorBolumViewModel
@{
    ViewBag.Title = "İzlenecek Bölüm Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12 text-center">
        <div class="alert alert-primary" role="alert">
            <h2>
                Operatör Bölüm Listesi-@Model.KullaniciAdi
            </h2>
        </div>
    </div>
    <div class="col-md-5 offset-1">
        <div class="card text-white bg-primary mb-3" style="max-width: 36rem;">
            <div class="card-header bg-primary text-center">Bölüm Listesi</div>
            <div class="card-body text-center">
                <div id="bolumList">

                </div>
            </div>
        </div>
    </div>


    <div class="col-md-5 offset-1">
        <div class="card text-white bg-success mb-3" style="max-width: 36rem;">
            <div class="card-header bg-success text-center">İzlenecek Bölüm Listesi</div>
            <div class="card-body text-center">
                <div id="watchList">

                </div>
            </div>
        </div>
    </div>
</div>


<script>
        $(document).ready(function () {
            $.ajax({
                url: '/OperatorBolum/BolumList?kullaniciAdi=@Model.KullaniciAdi.ToString()',
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                $("#bolumList").html("");
                $("#watchList").html("");
                $.each(data, function (index, row) {
                    $("#bolumList").append("<div id='" + row.Bolum_No + "' class='animated'><span class='badge badge-pill badge-success mr-3'>" + row.Adi + "<i onclick='AddListBolum(" + row.Bolum_No + ",\"" + row.Adi + "\")' class='fas fa-check fa-1x text-default ml-2'></i></span><br /></div>");
                });

                $.ajax({
                    url: '/OperatorBolum/UserBolumID?kullaniciAdi=@Model.KullaniciAdi.ToString()',
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $.each(data, function (index, row) {
                        $("#bolumList #" + row.Bolum_No).prop("hidden", true);
                        $("#watchList").append("<div id='add_" + row.Bolum_No + "'><span class='badge badge-pill badge-primary mr-3'>" + row.Adi + "<i onclick='DeleteListBolum(" + row.Bolum_No + ",\"" + row.Adi + "\")'  class='fas fa-times fa-1x text-default ml-2'></i></span><br /></div>");
                    });
                });
            });
        });

        function AddListBolum(Bolum_No, Adi) {
            var element = "#bolumList #" + Bolum_No;
            $(element).prop("hidden", true);
            $("#watchList").append("<div id='add_" + Bolum_No + "' class='animated bounceInLeft'><span class='badge badge-pill badge-primary mr-3'>" + Adi + "<i onclick='DeleteListBolum(" + Bolum_No + ",\"" + Adi + "\")'  class='fas fa-times fa-1x text-default ml-2'></i></span><br /></div>");
            $.ajax({
                url: '/OperatorBolum/AddBolum?BolumNo=' + Bolum_No + '&kullaniciAdi=@Model.KullaniciAdi.ToString()',
                type: 'POST',
                dataType: 'json'
            }).done(function (data) {

            });
        }


        function DeleteListBolum(Bolum_No, Adi) {
            var elementAdd = "#watchList #add_" + Bolum_No;
            $("#bolumList").append("<div id='" + Bolum_No + "' class='animated bounceInRight'><span class='badge badge-pill badge-success mr-3'>" + Adi + "<i onclick='AddListBolum(" + Bolum_No + ",\"" + Adi + "\")' class='fas fa-check fa-1x text-default ml-2'></i></span><br /></div>");
            $(elementAdd).remove();
            $.ajax({
                url: '/OperatorBolum/RemoveBolum?BolumNo=' + Bolum_No + '&kullaniciAdi=@Model.KullaniciAdi.ToString()',
                type: 'POST',
                dataType: 'json'
            }).done(function (data) {

            });
        }
</script>




