
@{
    ViewBag.Title = "Diğer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card shadow-lg mt-xl-5 mb-xl-5">
            <div class="card-header-tabs mt-1">
                <h3 class="text-center text-muted">Panel Ayarları-Diğer</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Diger", "PanelSettings", FormMethod.Post))
                {
                    <div class="form-group">
                        <label class="text-info" for="exampleFormControlSelect1">Genişleme Port 1 (RS485)</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>İptal</option>
                            <option>MW-301 EXP</option>
                            <option>MW-650 ASANSOR</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="text-info" for="exampleFormControlSelect1">Genişleme Port 2 (RS485)</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>İptal</option>
                            <option>MW-650 ASANSOR</option>
                            <option>MW-650 STANDART</option>
                            <option>MW-650 HASTANE KOD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="text-info" for="exampleFormControlSelect1">Asansör/Kat Kapasitesi</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>İptal</option>
                            <option>Max 8 Asansör,Max 16 Kat</option>
                            <option>Max 8 Asansör,Max 32 Kat</option>
                            <option>Max 4 Asansör,Max 32 Kat</option>
                            <option>Max 4 Asansör,Max 64 Kat</option>
                            <option>Max 2 Asansör,Max 64 Kat</option>
                        </select>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <label class="text-info">Hastane Kod Sistemi(Asansör)</label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="1" name="Lokal_APB2" class="custom-control-input" id="Aktif" />
                                <label class="custom-control-label" for="Aktif">Aktif</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>Lokal IP Adres</label>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="IP1" name="Panel_IP1" value="" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="IP2" name="Panel_IP2" value="" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="IP3" name="Panel_IP3" value="" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="IP4" name="Panel_IP4" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="1" name="Lokal_APB2" class="custom-control-input" id="YesilKod" />
                                <label class="custom-control-label" for="YesilKod">Acil Durum Bitiminde Yeşil Kod</label>
                            </div>
                            <label>Yeşil Kod Süresi(Dakika)</label>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm" id="IP4" name="Panel_IP4" value="30" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Server TCP Port</label>
                                        <input type="text" class="form-control form-control-sm" id="IP1" name="Panel_IP1" value="" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Lokal TCP Port</label>
                                        <input type="text" class="form-control form-control-sm" id="IP1" name="Panel_IP1" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <hr />
                            <button type="submit" class="btn  btn-outline-primary"><i class="fas fa-save"></i> Kaydet</button>
                            <button type="submit" class="btn  btn-outline-danger"><i class="fas fa-minus-circle"></i> Paneli Kaldır</button>
                            <button type="submit" class="btn  btn-outline-success"><i class="fas fa-paper-plane"></i> Ayarları Gönder</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

