
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center mt-5">
        <h1> Sayfa Bulunamadı! </h1>
        <br />
        <br />
        <br />
        <h3>Hata Kodu : @Response.StatusCode</h3>
    </div>
</div>